body {
  background-color: #f6f7fb;
}

.flashcard {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px auto;
  max-width: 650px;
  min-height: 500px;
  max-height: 625px;
  border-radius: 15px;
}

.flashcard .input-group {
  margin: 0 auto;
  width: 80%;
}

.flashcard button {
  margin: 0 auto;
  width: 20%;
}

.exam-word {
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 15%;
  border-radius: 10px;
  background-color: #f6f7fb;
  height: 10vh;
  width: 75%;
  text-align: center;
  font-size: larger;
}

.exam-word p {
  margin: 3% auto;
  text-align: center;
  font-size: larger;
}

footer {
  padding: 2vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.collection-place {
  margin: 10px auto;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
}

.collection-place .row {
  margin-bottom: 10px;
}

.card {
  width: 18rem;
}

.container-sm {
  max-width: 800px;
}
