{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-lg-6 mx-auto">
  <form method="post" action="{% url "users:change_password" %}">
    {% csrf_token %}
    <div class="mb-3">
      <h2 class="text-center">Change Password</h2>
      <label for="old-password" class="form-label">Old Password</label>
      <input type="password" class="form-control" name="old_password" id="old-password">
    </div>
    <div class="mb-3">
      <label for="id_password1" class="form-label">New Password</label>
      <input type="password" class="form-control" name="new_password1" id="id_password1">
    </div>
    <div class="mb-3">
      <label for="id_password2" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="new_password2" id="id_password2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}